<ng-container *ngIf="columnId">
  <ng-container *ngIf="column$ | async as column">
  <div
    class="w-[414px] bg-gray-300 rounded p-4 shadow-lg"
    *ngIf="dragDropConnectedColumns$ | async as dragDropConnectedColumns"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="column.itemsIds"
    [id]="columnId"
    [cdkDropListConnectedTo]="dragDropConnectedColumns"
  >
    <div
      class="h-9 flex mb-6 items-center w-full"
    >
      <!--icon for dragging column from board component-->
      <ng-content></ng-content>
      <input
        class="text-center w-full bg-transparent"
        placeholder="Column Name"
        [(ngModel)]="column.title"
        (ngModelChange)="apiDataService.patchColumn( {id: columnId, title: $event})"
      />
      <app-remove-button class="ml-4" (click)="apiDataService.deleteColumn(columnId)"></app-remove-button>
    </div>
    <app-add-item-button [columnId]="columnId" (addItem)="apiDataService.addItem($event)"></app-add-item-button>
    <div class="mt-4">
      <app-item class="flex" cdkDrag *ngFor="let itemId of column.itemsIds" [itemId]="itemId">
        <div cdkDragHandle>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 mr-2 text-gray-500 cursor-grab">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
          </svg>
        </div>
      </app-item>
    </div>
  </div>
  </ng-container>
</ng-container>
