<div
  *ngIf="boardsIds$ | async as boardIds"
  class="flex flex-col gap-5 p-2.5 pt-28 min-h-dvh bg-gradient-to-r from-violet-500 to-fuchsia-500"
  cdkDropList
  (cdkDropListDropped)="dropBoard($event)"
  [cdkDropListData]="boardIds"
>
  <app-board cdkDrag *ngFor="let boardId of boardIds" [boardId]="boardId">
    <div cdkDragHandle drag-area>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-7 w-7 mx-4 text-gray-500 cursor-grab"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z"
        />
      </svg>
    </div>
  </app-board>
</div>
